<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="Mirror Scorpion"
        android:roundIcon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MirrorScorpion">
        
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TextTranslatorActivity" android:screenOrientation="portrait" />

        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".VoiceCloneActivity" android:exported="false" />
        <activity android:name=".LanguageDownloadActivity" android:exported="false" />
        <activity android:name=".AboutActivity" android:exported="false" />
        <activity android:name=".DocumentTranslateActivity" android:exported="false" />
        <activity android:name=".TextTranslateActivity" android:exported="false" />
        <activity android:name=".ChatTranslateActivity" android:exported="false" android:screenOrientation="portrait" />
    </application>
</manifest>
