<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_info_details"
        android:label="Mirror"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        
        <activity
            android:name="org.tetocollctionway.mirror.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.tetocollctionway.mirror.TextTranslatorActivity" />
        <activity android:name="org.tetocollctionway.mirror.DocLensActivity" />
        <activity android:name="org.tetocollctionway.mirror.DialogTranslatorActivity" />
        <activity android:name="org.tetocollctionway.mirror.LensActivity" />
        <activity android:name="org.tetocollctionway.mirror.DocsEngineActivity" />
        
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="langid,translate,ocr" />
    </application>
</manifest>
